---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg"
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  title="About Me"
  description="lycpan233 的个人博客，分享日常踩坑记录、想法和思考"
  pubDate={new Date("2023-11-24 21:00:52")}
  heroImage={AboutHeroImage}
>
  <h2>📚 Blog</h2>
  <p>
    欢迎来到 lycpan233
    的个人博客，这里记录了博主在开发、学习和生活中的各种踩坑经历，以及一些思考与心得。希望这里的内容能带给你启发，也欢迎友善交流与讨论。
  </p>

  <h2>Dreamer</h2>
  <p>
    我是一名 Node.js Web
    后端开发者，对新技术和新鲜事物充满兴趣。在业余时间，我乐于无偿帮助大家解决各种问题，包括但不限于：
  </p>
  <ul>
    <li>计算机基础知识，如数据结构、算法、编程语言等。</li>
    <li>软件操作技巧，例如如何正确下载和使用 Steam。</li>
    <li>创意实现方案，例如想做某个功能但不知从何入手。</li>
    <li>哲学思考，例如“我是谁？我从哪里来？我要去向何方？”</li>
    <li>其他你感兴趣的问题……</li>
  </ul>
  <p>
    如果你有问题或想法，可以写信给我：<a href="mailto:lycpan@foxmail.com"
      >lycpan@foxmail.com</a
    >。
  </p>
  <p>
    来信时最好说明遇到的问题、期望得到的帮助，以及相关上下文信息，这样我才能更有效地给你建议，避免像算卦一样瞎猜。
  </p>

  <h2>联系我</h2>
  <ul>
    <li>
      QQ: <a href="tencent://message/?uin=455025655&Site=qq&Menu=yes" class="qq"
        >455025655</a>
    </li>
    <li>Email: <a href="mailto:lycpan@foxmail.com">lycpan@foxmail.com</a></li>
    <li>
      GitHub: <a href="https://github.com/lycpan233" target="_blank"
        >https://github.com/lycpan233</a>
    </li>
  </ul>
</Layout>
