---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg"
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  title="About Me"
  description="lycpan233 的个人博客，分享日常踩坑记录、想法和思考"
  pubDate={new Date("2023-11-24 21:00:52")}
  heroImage={AboutHeroImage}
>
  <h2>📚 Blog</h2>
  <p>
    lycpan233
    的个人博客，这里主要发布一些博主日常踩过的坑以及一些想法和思考，欢迎友善的讨论！
  </p>

  <h2>Dreamer</h2>
  <p>
    博主是一个 Noder
    Web后端开发，对新鲜事物比较感兴趣，所以业余时间会无偿帮助网友解决一些小问题，包括但不限于：
  </p>
  <ul>
    <li>计算机专业基础知识，例如：数据结构、算法题、语言基础等。</li>
    <li>软件操作知识，例如：如何正确的下载一个 Steam ?。</li>
    <li>奇思妙想，例如：我想实现一个 XXX 功能，但我不知道我应该如何起步。</li>
    <li>哲学问题，例如：我是谁？我从哪来？我要到哪去？。</li>
    <li>.....</li>
  </ul>
  <p>
    有需要的同学，可以给我来信 <a href="mailto:lycpan@foxmail.com"
      >lycpan@foxmail.com</a
    >。
  </p>
  <p>
    我期望你的来信里可以阐明你遇到了什么问题，期望得到什么样的帮助。最好有清晰的上下文，不然我只能算一卦帮助你。
  </p>

  <h2>联系我</h2>
  <ul>
    <li>
      QQ: <a href="tencent://message/?uin=455025655&Site=qq&Menu=yes" class="qq"
        >455025655</a>
    </li>
    <li>Email: <a href="mailto:lycpan@foxmail.com">lycpan@foxmail.com</a></li>
    <li>
      GitHub: <a href="https://github.com/lycpan233" target="_blank"
        >https://github.com/lycpan233</a>
    </li>
  </ul>
</Layout>
